<html>
  <head> </head>
  <body>
    <div style="background-color: #b2bec3; padding: 20px">
      <div
        style="
          background-color: #dfe6e9;
          margin: auto;
          width: 95%;
          padding: 10px;
          border-radius: 10px;
        "
      >
        <img
          src="cid:logo"
          alt="Syncviz Logo"
          width="100"
          style="margin-left: auto; margin-right: auto; display: block"
        />
        <h1 style="color: #2d3436; text-align: center">
          Password Reset Successful
        </h1>
        <p style="color: #2d3436; text-align: center">Hi {{name}},</p>
        <p style="color: #2d3436; text-align: center">
          Your password has been successfully reset
        </p>
      </div>
    </div>
  </body>
</html>
